/* Custom Fonts */
@font-face {
  font-family: centra;
  src: url("./assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: centra;
  src: url("./assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: centra;
  src: url("./assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  /* font-weight: 400; */
  overflow-x: hidden;
  /* position: relative; */
  background-color: lightblue !important;
  color: white !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
